@import "_config.scss";


.gameboard {  
	width: 100%;
    height: auto;
}

.messageArea {
	width: 100%;
	height: 100%;
}

.testwithborder {
	border-style: solid 2px;
	border-color: red;
	background-color: blue;
}






